In [6]:
import numpy as np

import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score
import matplotlib.pyplot as plt

In [7]:
class LinearRegression1() :

    def __init__( self, learning_rate, iterations ) :

        self.learning_rate = learning_rate

        self.iterations = iterations


    def fit( self, X, Y ) :


        self.m, self.n = X.shape


        self.W = np.zeros( self.n )

        self.b = 0

        self.X = X

        self.Y = Y



        for i in range( self.iterations ) :

            self.update_weights()

        return self

    def update_weights( self ) :

        Y_pred = self.predict( self.X )


        dW = - ( 2 * ( self.X.T ).dot( self.Y - Y_pred )  ) / self.m

        db = - 2 * np.sum( self.Y - Y_pred ) / self.m

        self.W = self.W - self.learning_rate * dW

        self.b = self.b - self.learning_rate * db

        return self


    def predict( self, X ) :

        return X.dot( self.W ) + self.b

In [8]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
features = ["YearBuilt", "GrLivArea", "OverallQual", "GarageCars", "TotalBsmtSF"]

train_df = train_df[features + ["SalePrice"]].dropna()

X = train_df[features]
y = train_df["SalePrice"]

In [10]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42)

lin_reg1 = LinearRegression1(0.01,1000)
lin_reg2 = LinearRegression()

lin_reg1.fit(X_train, y_train)
lin_reg2.fit(X_train, y_train)

y_pred1 = lin_reg1.predict(X_test)
rmse1 = mean_squared_error(y_test, y_pred1) ** 0.5

y_pred2 = lin_reg2.predict(X_test)
rmse = mean_squared_error(y_test, y_pred2) ** 0.5

print(rmse1)

print(rmse)

39763.224807415565
39763.29526578061